@use "../utils/variables";

//!  OLD VERSION

.dropdown-button {
    width: 170px;
    height: 69px;
    text-align: left;
    color: white;
    font-weight: bold;
    border-radius: variables.$common-radius;
    border: none;
    cursor: pointer;
}

.search-mode {
    width: 100%;
    // transition: 0.3s;
}

.search-options > * {
    position: relative;
}
.dropdown-arrow {
    position: absolute;
    right: 12px;
    top: 30px;
    pointer-events: none;
}

.ingredients-search input {
    background: variables.$ingredient-color;
}
.ingredients-search ul {
    background-color: variables.$ingredient-color;
}

.appliance-search input {
    background: variables.$appliance-color;
}
.appliance-search ul {
    background: variables.$appliance-color;
}

.ustensils-search input {
    background: variables.$ustensils-color;
}
.ustensils-search ul {
    background: variables.$ustensils-color;
    min-width: 900px;
}

.search-options li:hover {
    cursor: pointer;
    background-color: rgb(8, 185, 67);
}

/* Dropdown rules */

.ingredients-list,
.appliance-list,
.ustensils-list {
    display: none;
}

.expanded {
    display: block;
    columns: 100px 3;
}

/* Lists */

.search-options ul {
    margin-top: 0;
}


// Test animation

// Test 1 (the entire container should be animated but It is not the case)
// .ingredients-search {
//     transition: width 0.4s;
// }

// Test 2 the input and options are animated separately.
// .ingredients-list,
// .appliance-list,
// .ustensils-list {
//     animation: growDown 300ms ease-in-out forwards;
//     animation: growLeft 300ms ease-in-out forwards;
//     transform-origin: top center;
// }

// @keyframes growDown {

//     0% {
//         transform: scaleY(0);  
//     }
  
//     100% {
//         transform: scaleY(1);
//     }
//   }

//   @keyframes growLeft {
//     0% {
//         transform: scaleX(0);
//     }
  
//     100% {
//         transform: scaleX(1);
//     }
//   }

// ! NEW VERSION
// .ingredients__text-field,
// .appliance__text-field,
// .ustensils__text-field,
// .ingredients__list,
// .appliance__list,
// .ustensils__list {
//     display: none;
// }

// .ingredients__list,
// .appliance__list,
// .ustensils__list {
//     background-color: green;
// }

// .show {
//     display: block;
// }

// span {
//     cursor: pointer;
//     display: block;
//     width: 100%;
// }