@use "../utils/variables";

.selected-filters {
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding-left: 0;
}

.selected-filters__item {
    position: relative;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 37px;
    padding: 8px 52px 9px 20px;
    border-radius: variables.$common-radius;
    font-weight: bold;
    cursor: pointer;
    &::after {
        content: url("/assets/icons/remove-filter.svg");
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        right: 10px;
        top: 50%;
        transform: translateY(-50%) scale(1.2);
    }
    &:hover::after {
        transform: translateY(-50%) scale(1.4);
    }
    &::first-letter {
    text-transform: capitalize;
}

}

.selected-filters__item_ingredient {
    background-color: variables.$ingredient-color;
}

.selected-filters__item_appliance {
    background-color: variables.$appliance-color;
}

.selected-filters__item_utensils {
    background-color: variables.$utensils-color;
}