/* General styles */
html {
  scroll-behavior: smooth;
}

body {
  margin: 40px 100px;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

body {
  font-family: "Lato", sans-serif;
}

.dropdown-button {
  width: 170px;
  height: 69px;
  text-align: left;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.search-mode {
  width: 100%;
  transition: 0.4s;
}

.search-options > * {
  position: relative;
}

.dropdown-arrow {
  position: absolute;
  right: 12px;
  top: 30px;
  pointer-events: none;
}

.ingredients-search input {
  background: #3282F7;
}

.ingredients-search ul {
  background-color: #3282F7;
}

.appliance-search input {
  background: #68D9A4;
}

.appliance-search ul {
  background: #68D9A4;
}

.ustensils-search input {
  background: #ED6454;
}

.ustensils-search ul {
  background: #ED6454;
  min-width: 900px;
}

.search-options li:hover {
  cursor: pointer;
  background-color: #08b943;
}

/* Dropdown rules */
.ingredients-list,
.appliance-list,
.ustensils-list {
  display: none;
}

.expanded {
  display: block;
  columns: 100px 3;
}

/* Lists */
.search-options ul {
  margin-top: 0;
}

.recipe {
  width: 380px;
}

.reccipe__image-preview a {
  display: flex;
  overflow: hidden;
}

.reccipe__image-preview img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  overflow: hidden;
  transition: 0.4s all ease-in-out;
}
.reccipe__image-preview img:hover {
  transform: scale(1.1);
}

.recipe__description {
  background: #E7E7E7;
  border-radius: 0 0 5px 5px;
}

.recipe__main-info {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.recipe__duration {
  font-weight: bold;
  display: flex;
  gap: 7px;
}
.recipe__duration::before {
  content: "";
  display: block;
  background-image: url("/assets/icons/cooking-time.svg");
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.recipe__secondary-info {
  padding: 0 18px 0 20px;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.recipe__ingredients,
.recipe__steps {
  flex: 0 50%;
  font-size: 0.8rem;
}

.recipe__ingredient-name {
  font-weight: bold;
}

.article {
  width: 380px;
}

article img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.selected-filters {
  color: white;
  display: flex;
  gap: 25px;
  padding-left: 0;
}

.selected-filters__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 37px;
  padding: 8px 22px 9px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.selected-filters__item::after {
  content: "";
  display: block;
  background-image: url("/assets/icons/remove-filter.svg");
  background-size: 28px 28px;
  height: 28px;
  width: 28px;
}
.selected-filters__item:hover::after {
  transform: scale(1.1);
}

.selected-filters__item_ingredient {
  background-color: #3282F7;
}

.selected-filters__item_appliance {
  background-color: #68D9A4;
}

.selected-filters__item_ustensils {
  background-color: #ED6454;
}

.search-options li {
  color: white;
}

/* 4.1 HEADER */
header {
  text-align: center;
}

h1 {
  margin-top: 0;
  font-family: "DM Sans", sans-serif;
  color: #D04F4F;
}

/* 4.2 PRIMARY SEARCH */
.primary-search input {
  position: relative;
  width: 100%;
  height: 69px;
  padding-left: 17px;
  background: #E7E7E7;
  border-radius: 5px;
  border: none;
}

.primary-search {
  position: relative;
}

.primary-search::after {
  content: "";
  display: block;
  background-image: url("/assets/icons/search-icon.svg");
  background-size: 28px 28px;
  height: 28px;
  width: 28px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

/* 4.3 SECONDARY SEARCH */
.search-options {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

/* 4.4 RESULTS */
.results {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: space-between;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
}

/*# sourceMappingURL=main.css.map */
